<div class="container">
  Seleccione Post:
  <select [ngModel]="postId()" (ngModelChange)="postId.set($event)" (change)="commentsByPost()">
    @for(p of posts();track p){
      <option [value]="p.id">{{p.title}}</option>
    }
  </select><br><br>

  @if(commentsPost().length>0){
    <table border="1">
      <tr><th>Post</th><th>Name</th><th>Email</th><th>Body</th></tr>
      @for(c of commentsPost();track c){
        <tr>
          <td>{{c.postId}}</td>
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
          <td>{{c.body}}</td>
        </tr>
      }
    </table>
  }@else{
    sin comentarios
  }
</div>
